*{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

body{
      background-color: #404040;
      /* width: 100%; */
      border: 4px solid rgba(255, 255, 255, 0.1);
      border-radius: 2px;
      background-color: #FFFFFF;

}

section{
      border: 8px solid blue;
      display: flex;
      flex-direction: column;
      padding: 0.8% 3% ;
      width: 100%;
      
}

header{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0.5% 2%;
      border: 2px solid #155EEF;
      border-radius: 8px;
      align-items: center;
      gap: 11.7%;

}

header .nav{
      display: flex;
      width: 31.6%;
      gap: 20%;
      justify-content: flex-end;
      /* align-content: center; */

}

header .nav a{
     
      font-family: 'Halant';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 24px;
      color: #041330;
      text-decoration: none;
      margin-top: 0.9%;
}

header .nav .nav-but{
      
      width: 15%;
      align-items: center;
      padding: 10px 16px;
      border: 1px solid #155EEF;
      border-radius: 8px;
}

header .logo{
      width: 51.8%;
}

.hero{
      display: flex;
      /* flex-wrap: wrap; */
      /* flex-direction: row; */
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border: 2px solid #155EEF;
      border-radius: 8px;
      gap: 4.8%;
}

.hero .name-info{
      width: 51.4%;
      margin-left: 2.4%;
}

.hero .name-info small{
      font-family: 'Halant';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      letter-spacing: 0.5px;
      color: #2E3A53;

}

.hero .name-info .sam{
      font-family: 'Halant';
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 120%;
      color: #155EEF;
      margin: 0.5% 0 3% 0;
      
}

.hero .name-info .hero-text{
      width: 67%;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 150%;
      letter-spacing: 0.7px;
      color: #2E3A53;
}

.hero .name-info .hero-button{
      background: #155EEF;
      border-radius: 8px;
      padding: 0.8% 2%;
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.5px;
      border: 1px #155EEF;
      color: #FFFFFF;

      margin-top: 1%;
}

.teal{
      width: 39.2%;
      margin: 5.5% 2.7% 5% 0;
      display: flex;
      justify-content: flex-end;
}

.hero .teal .img-teal{
     width: 200%;
}



.about{
      display: flex;
      flex-wrap: wrap;
      
}

.project{
      display: flex;
      flex-wrap: wrap;
}

.footer{
      display: flex;
      flex-wrap: wrap;
}






















































